
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div th:replace="fragments/header :: body"></div>
<div class="container">

    <p style="color: #d23600; margin-top: 10px; text-align:center;">Please input UserName and Password to Log in.</p>

<form action="/login" method="post">
    <label>Username: <input type="text" name="username"/></label><br/>
    <label>Password: <input type="password" name="password"/></label><br/>
    <button type="submit">Login</button>
</form>
<a href="/register">Don't have an account.Click here!</a>
<p th:if="${error}" th:text="${error}"></p>
</body>
</html>
